<h1>2016年を振り返ったー</h1>

<p><%= @message %></p>

<div class='description'>
  <p>
    「2016年を振り返ったー」では、Twitter連携を行うことで、
    2016年のツイートを全て取得し、様々な集計を行い、
    集計結果を共有するサービスです。
  </p>
</div>

<div class='oauth-block'>
  <a href="/oauth">振り返る</a>
</div>
